body {
	font-family: 'Raleway', sans-serif;
	background-color: #e0eaf5;
	font-size:15px;
	margin-top:70px;
	margin-right: 20px;
	margin-left:20px;
}

h3 {
	font-weight:700;
}

th {
    background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 30%, #f6f6f6 30%, #e5e5e5 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(30%,#f6f6f6), color-stop(30%,#f6f6f6), color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 30%,#f6f6f6 30%,#e5e5e5 100%);
 
	padding: 8px 10px;
	color: #000;
	border: 1px solid #E6E6E6;
}

#patienten td {
	cursor: pointer;
}

h2 a {
	color:#fff;
	text-transform: uppercase;
}

h2 a:hover {
	color:#fff;
}

a {
	color:#468dc4;
	text-decoration:none;
}

textarea {
   resize: vertical;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.modal-body {
	padding:5px;
	padding-bottom:10px;
}

.modal-footer{
	padding: 0px;
}

.btn{
	padding:6px 8px;
}

button.close {
    padding: 3px;
}

.dropdown-menu{
	padding-top: 0px;
	padding-bottom: 0px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top,#5599ca 0,#3492d6 100%);
    background-image: -o-linear-gradient(top,#5599ca 0,#3492d6 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#5599ca),to(#3492d6));
    background-image: linear-gradient(to bottom,#5599ca 0,#3492d6 100%);
}

.floating-action-button3 {
  position: fixed;
  bottom: 40px;
  right: 40px;
 }

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#356ea5 0,#146cc1 100%);
    background-image: -o-linear-gradient(top,#356ea5 0,#146cc1 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#356ea5),to(#146cc1));
    background-image: linear-gradient(to bottom,#356ea5 0,#146cc1 100%);
}

.navbar-inverse .navbar-brand:hover, .nav-item:hover {

    background-image: -webkit-linear-gradient(top,#3082d2 0,#3082d2 100%);
    background-image: -o-linear-gradient(top,#3082d2 0,#3082d2 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3082d2),to(#3082d2));
    background-image: linear-gradient(to bottom,#3082d2 0,#3082d2 100%);

}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.whitebox {
		clear:both;
		margin-bottom:40px;
		padding:20px;
		background-color:#fff;
		}

strong {
		font-weight:600;
		}


@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
	button, .btn { display: none !important; }
	#opdauer { display: block !important; }
}